{% extends 'base.html' %}
{% block title %}نانپوست{% endblock %}
{% load jalali_tags %}
{% load static %}

{% block content %}

    <!--about-us-->
    <section class="section pt-50">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5>درباره ما</h5>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-8 mt-30">
                    <div class="about-us">
                        <div class="about-us-image">
                            <img src="{% static 'assets/img/about-us.jpg' %}" alt="">
                        </div>
                        <div class="description">
                            <p style="text-align: justify;line-height: 35px">ما تیمی از برنامه‌نویسان در حوزه بک‌اند هستیم که با تخصص در زبان پایتون و فریمورک جنگو،
                                به ارائه راه‌حل‌های نوآورانه و کارآمد در دنیای توسعه نرم‌افزار می‌پردازیم. هدف اصلی ما
                                توسعه نرم‌افزارهایی مقیاس‌پذیر، با کیفیت و مطابق با نیازهای کاربران است.

                                ما به یادگیری مداوم و به‌روز نگه‌داشتن مهارت‌هایمان پایبندیم و همواره به دنبال چالش‌های
                                جدید برای رشد و پیشرفت هستیم. پروژه‌های ما نه تنها بازتاب‌دهنده دانش فنی و تجربه ما
                                هستند، بلکه نشان‌دهنده تعهد ما به کیفیت، خلاقیت و ایجاد تجربه‌های کاربری منحصربه‌فرد نیز
                                می‌باشند.

                                تعهد ما بر این است که با همکاری نزدیک با کاربران و دیگر توسعه‌دهندگان، نرم‌افزارهایی
                                طراحی کنیم که هم نیازهای امروزی را پاسخ دهد و هم به پیشرفت جامعه برنامه‌نویسی کمک کند.
                                امیدواریم که با ایده‌ها و تلاش‌های مشترک، بتوانیم آینده‌ای بهتر برای دنیای فناوری رقم
                                بزنیم.</p>
                        </div>
                    </div>
                </div>
                <!-- sidebar -->
                {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock %}