{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% load jalali_tags %}
{% load static %}

{% block content %}
    <!--post-default-->
    <section class="section pt-55 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mb-20">
                    <!--Post-single-->
                    <div class="post-single">
                        {% if article.image %}
                            <div class="post-single-image">
                                <img src="{{ article.image.url }}" width="100%" alt="{{ article.title }}">
                            </div>
                        {% else %}
                            <div class="post-single-image">
                                <img src="{% static 'assets/img/image_not_available.jpg' %}" alt="{{ article.title }}">
                            </div>
                        {% endif %}
                        <div class="post-single-content">
                            {% for category in article.category.all %}
                                <a href="{% url 'BlogApp:category_article' category.slug %}"
                                   class="categorie">{{ category.title }}</a>
                            {% endfor %}
                            <h4>{{ article.title }}</h4>
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="{% url 'BlogApp:author_detail' article.author.id %}">
                                            {% if article.author.image %}
                                                <img src="{{ article.author.image.url }}"
                                                     alt="{{ article.author.full_name }}">
                                            {% else %}
                                                <img src="{% static 'assets/img/default_profile_image.png' %}"
                                                     alt="{{ article.author.full_name }}">
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li><a href="{% url 'BlogApp:author_detail' article.author.id %}">{{ article.author.full_name }}</a></li>
                                    <li class="dot"></li>
                                    <li>{{ article.created_at|to_jalali:'%Y/%m/%d' }}</li>
                                    <li class="dot"></li>
                                    <li>{{ article.view }} بازدید</li>
                                    <li class="dot"></li>
                                    <li>{{ article.comments.count }} دیدگاه</li>
                                    <li class="dot"></li>
                                    <li>
                                      {{ article.like_set.count }}<a href="{% url 'BlogApp:like' article.slug %}" class="fa fa-heart" style="font-size: 10px; margin-right: 5px"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="post-single-body">
                            <p>{{ article.body|safe }}</p>
                        </div>

                        <div class="post-single-footer">
                            <div class="tags">
                                <ul class="list-inline">
                                    {% for tag in article.tags.all %}
                                        <li><a href="{% url 'BlogApp:tag_article' tag.slug %}">{{ tag }}</a></li>
                                    {% endfor %}


                                </ul>
                            </div>
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="color-facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-pinterest">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!--/-->
                    <!--widget-comments-->
                    <div class="widget mb-50">
                        {% if article.comments.count %}
                            <div class="title">
                                <h5>{{ article.comments.count }} دیدگاه</h5>
                            </div>
                        {% else %}
                            <div class="title">
                                <h5>نظر خود را اضافه کنید</h5>
                            </div>
                        {% endif %}
                        <ul class="widget-comments">
                            {% for comment in article.comments.all %}
                                {% if comment.status == True %}
                                    <li class="comment-item">
                                        {% if comment.user.image %}
                                            <img src="{{ comment.user.image.url }}" alt="{{ comment.user.full_name }}">
                                        {% else %}
                                            <img src="{% static 'assets/img/default_profile_image.png' %}" alt="{{ comment.user.full_name }}">
                                        {% endif %}
                                        <div class="content">
                                            <ul class="info list-inline">
                                                <li>{{ comment.user.full_name }}</li>
                                                <li class="dot"></li>
                                                <li>{{ comment.created_at|to_jalali:'%Y/%m/%d' }}</li>
                                            </ul>
                                            <p>{{ comment.body }}</p>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <!--Leave-comments-->
                        {% if request.user.is_authenticated %}
                            <div class="title">
                                <h5>نوشتن یک دیدگاه</h5>
                            </div>
                            <form class="widget-form" method="post" id="main_contact_form">
                            {% csrf_token %}
{#                              <p>آدرس ایمیل شما منتشر نخواهد شد، فیلدهای الزامی علامت گذاری شده است*.</p>#}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <textarea name="body" id="body" cols="30" rows="5" class="form-control" placeholder="دیدگاه شما*" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" name="submit" class="btn-custom">ثبت دیدگاه</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <div class="col-12">
                                <a href="{% url 'AccountApp:login' %}" class="btn-custom">برای ارسال نظر ابتدا باید وارد شوید</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-4 max-width">
                    <!--widget-author-->
                    <div class="widget">
                        <div class="widget-author">
                            <a href="{% url 'BlogApp:author_detail' article.author.id %}" class="image">
                                {% if article.author.image %}
                                    <img src="{{ article.author.image.url }}" alt="{{ article.author.full_name }}">
                                {% else %}
                                    <img src="{% static 'assets/img/default_profile_image.png' %}"
                                         alt="{{ article.author.full_name }}">
                                {% endif %}
                            </a>
                            <h6>
                                <a href="{% url 'BlogApp:author_detail' article.author.id %}">{{ article.author.full_name }}</a>
                            </h6>
                            <p>{{ article.author.bio }}</p>
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="color-facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-pinterest">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->

                    <!--widget-latest-posts-->
                    <div class="widget ">
                        <div class="section-title">
                            <h5>نوشته های اخیر</h5>
                        </div>
                        <ul class="widget-latest-posts">
                            {% for article in latest_articles %}
                                <li class="last-post">
                                    <div class="image">
                                        {% if article.image %}
                                            <a href="{{ article.get_absolute_url }}">
                                                <img src="{{ article.image.url }}" alt="...">
                                            </a>
                                        {% else %}
                                            <a href="{{ article.get_absolute_url }}">
                                                <img src="{% static 'assets/img/image_not_available.jpg' %}" alt="...">
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="content">
                                        <p>
                                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                                        </p>
                                        <small>
                                            <span class="icon_clock_alt"></span>{{ article.created_at|to_jalali:'%Y/%m/%d' }}</small>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/-->

                    <!--widget-categories-->
                    <div class="widget">
                        <div class="section-title">
                            <h5>دسته بندی ها</h5>
                        </div>
                        <ul class="widget-categories">
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'BlogApp:category_article' category.slug %}"
                                       class="categorie">{{ category.title }}</a>
                                    <span class="ml-auto">{{ category.articles.count }} مقاله</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/-->

                    <!--widget-tags-->
                    <div class="widget">
                        <div class="section-title">
                            <h5>برچسب ها</h5>
                        </div>
                        <div class="widget-tags">
                            <ul class="list-inline">
                                {% for t in tag %}
                                    <li>
                                        <a href="{% url 'BlogApp:tag_article' t.slug %}">{{ t }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!--/-->
                </div>

            </div>
        </div>
    </section>
    <!--/-->
{% endblock %}
