{% extends 'base.html' %}
{% block title %}نانپوست{% endblock %}
{% load jalali_tags %}
{% load static %}

{% block content %}

    <!--author-->
    <section class="section author full-space mb-40 pt-55">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--widget-author-->
                    <div class="widget-author inner-width">
                        {% if author.image %}
                            <img src="{{ author.image.url }}" alt="{{ author.full_name }}">
                        {% else %}
                            <img src="{% static 'assets/img/default_profile_image.png' %}" alt="">
                        {% endif %}
                        <h6><span>سلام، من {{ author.full_name }} هستم!</span></h6>
                        <div class="link">{{ articles.paginator.count }} مقاله</div>
                        <p>{{ author.bio }}</p>

                        <div class="social-media">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="color-facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-pinterest">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--mansory-layout-->
    <section class="mt-40 masonry-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-columns">
                        <!--Post-4-->
                        {% if articles %}
                            {% for article in articles %}
                            <div class="card">
                                <div class="post-card">
                                    <div class="post-card-image">
                                        <a href="{{ article.get_absolute_url }}">
                                            {% if article.image %}
                                                <img src="{{ article.image.url }}" style="width: 345px;height: 190px" alt="{{ article.title|truncatewords:'6' }}">
                                            {% else %}
                                                <img src="{% static 'assets/img/image_not_available.jpg' %}" style="width: 345px;height: 190px" alt="{{ article.title|truncatewords:'6' }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-card-content">
                                        {% for category in article.category.all %}
                                            <a href="{% url 'BlogApp:category_article' category.slug %}" class="categorie">{{ category.title }}</a>
                                        {% endfor %}
                                        <h5>
                                            <a href="{{ article.get_absolute_url }}">{{ article.title|truncatewords:'6' }}</a>
                                        </h5>
                                        <p>{{ article.body|safe|truncatewords:'7' }}</p>
                                        <div class="post-card-info">
                                            <ul class="list-inline">
                                                <li>
                                                    <a href="{% url 'BlogApp:author_detail' author.id %}">
                                                        {% if author.image %}
                                                            <img src="{{ author.image.url }}" alt="{{ author.full_name }}">
                                                        {% else %}
                                                            <img src="{% static 'assets/img/default_profile_image.png' %}" alt="{{ author.full_name }}">
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'BlogApp:author_detail' author.id %}">{{ author.full_name }}</a>
                                                </li>
                                                <li class="dot"></li>
                                                <li>{{ article.created_at|to_jalali:'%Y/%m/%d' }}</li>
                                                <li class="dot"></li>
                                                {% if article.view > 0 %}
                                                    <li>{{ article.view }} بازدید</li>
                                                {% else %}
                                                    <li>صفر بازدید</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                            <h3 style="color:#F67280;margin-bottom: 20px">هیچ مقاله ای برای نمایش وجود ندارد</h3>
                        {% endif %}
                        <!--/-->
                    </div>
                    <!--pagination-->
                    <div class="pagination mt-30">
                        {% if articles.has_other_pages %}
                            <ul class="list-inline">
                                {% if articles.has_previous %}
                                    <li><a href="?page={{ articles.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><i class="arrow_carrot-2right"></i></a>
                                {% endif %}
                                {% for page in pages_to_show %}
                                    {% if page == '...' %}
                                       <i>...</i>
                                    {% elif articles.number == page %}
                                        <li class="active"><a href="?page={{ page }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ page }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if articles.has_next %}
                                    <li><a href="?page={{ articles.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><i class="arrow_carrot-2left"></i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div><!--/-->
                </div>

            </div>
        </div>
    </section>
    <!--/-->

{% endblock %}